.main-head {
    grid-area: header;
    border: red solid 1px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    padding: 3%;
}

.content {
    grid-area: content;
    border: red solid 1px;
    border-radius: 5px;
    padding: 4%;
    background: url("");
}

.main-nav {
    grid-area: nav;
    border: red solid 1px;
    border-radius: 5px;
}

.side {
    grid-area: sidebar;
    border: red solid 1px;
    border-radius: 5px;
}

.ad {
    grid-area: ad;
    border: red solid 1px;
    border-radius: 5px;
}

.main-footer {
    grid-area: footer;
    border: red solid 1px;
    border-radius: 5px;
    padding: 3%;
}

.footer-social {
    grid-area: social;
    border: red solid 1px;
    border-radius: 5px;
    padding: 3%;
}

.footer-contact {
    grid-area: contact;
    border: red solid 1px;
    border-radius: 5px;
    padding: 3%;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header  header" "nav nav nav" "content    content sidebar" "content    content ad" "contact  footer  social";
    background: hsla(120, 10%, 10%, 0);
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: lime;
}

p {
    width: 70%;
    line-height: 1.5;
    margin: auto;
    
    font-weight: bold;
}